<% content_for(:title, "Accomplishment Types") %>

<%= link_to 'New Accomplishment Type', new_accomplishment_type_path, class: button_class('primary float-right') %>

<h1>Accomplishment Types</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @accomplishment_types.each do |accomplishment_type| %>
      <tr>
        <td><%= link_to accomplishment_type.name, accomplishment_type %></td>
        <td><%= link_to 'Edit', edit_accomplishment_type_path(accomplishment_type) %></td>
        <td><%= link_to 'Delete', accomplishment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
