<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accomplishment_type.name %>
</p>

<%= link_to 'Edit', edit_accomplishment_type_path(@accomplishment_type) %> |
<%= link_to 'Back', accomplishment_types_path %>
