<% content_for(:title, "New Accomplishment") %>

<%= link_to 'Back', accomplishments_path, class: button_class('secondary float-right') %>

<h1>New Accomplishment</h1>

<%= render 'form', accomplishment: @accomplishment %>
