@import 'variables';


@mixin accomplishment-type-card($type-color) {
  border: 1px solid $type-color;

  .card-header {
    background-color: $type-color;
    color: $white;
  }
}

.gratitude-card {
  @include accomplishment-type-card($gratitude);
}

.til-card {
  @include accomplishment-type-card($til);
}

.praise-card {
  @include accomplishment-type-card($praise);
}

.merit-card,
.pdp-card,
.hype-card {
  @include accomplishment-type-card($merit);
}
