.gratitude-card {
  border: 1px solid var(--gratitude);
}

.gratitude-card .card-header {
  background-color: var(--gratitude);
  color: var(--white);
}

.til-card {
  border: 1px solid var(--til);
}

.til-card .card-header {
  background-color: var(--til);
  color: var(--white);
}

.praise-card {
  border: 1px solid var(--praise);
}

.praise-card .card-header {
  background-color: var(--praise);
  color: var(--white);
}

.merit-card,
.pdp-card,
.hype-card {
  border: 1px solid var(--merit);
}

.merit-card .card-header,
.pdp-card .card-header,
.hype-card .card-header {
  background-color: var(--merit);
  color: var(--white);
}

.card h2,
.card h3,
.card h4,
.card h5 {
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 0;
}

.card h1 { font-size: 2rem; }
.card h2 { font-size: 1.5rem; }
.card h3 { font-size: 1.25rem; }
.card h4 {
  font-size: 1rem;
  text-transform: uppercase;
}
