body { background-image: url('hatch_marks.png'); }

.right { float: right; }

.footer--delete {
  border-top: 1px solid var(--gray);
  margin-top: 2rem;
  padding-top: 1rem;
}

.image { max-width: 600px; }

@media screen and (max-width: 850px) {
  .image { max-width: 100%; }
}

.environment-banner {
  color: var(--white);
  font-family: monospace;
  font-size: 1.25em;
  padding: .75em;
  text-align: center;
}

/* Links */
a { color: var(--link-color); }


/* Forms */
form label {
  font-weight: 600;
}

.file-field { color: var(--medium-gray); }


/* SEARCH BAR */
.search-icon {
  color: var(--medium-gray);
  float: right;
  position: relative;
  right: 14px;
  top: 25px;
}

.clear-search {
  font-size: 90%;
  margin-bottom: 2em;
  text-align: center;
}

.clear-search a {
  color: var(--medium-gray);
}

.brand-image {
  height: 25px;
}
