@import 'variables';

.right { float: right; }

.footer--delete {
  border-top: 1px solid $gray;
  margin-top: 2rem;
  padding-top: 1rem;
}

.image { width: 100%; }

.environment-banner {
  color: $white;
  font-family: monospace;
  font-size: 1.25em;
  padding: .75em;
  text-align: center;
}

// Links
a { color: $link-color; }


// Forms
.field {
  label {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .form-check-label {
    font-weight: normal;
    margin-top: 0;
  }
}


// SEARCH BAR
.search-icon {
  color: $medium-gray;
  float: right;
  position: relative;
  right: 14px;
  top: 25px;
}

.clear-search {
  font-size: 90%;
  margin-bottom: 2em;
  text-align: center;
  a { color: $medium-gray; }
}

.brand-image {
  height: 25px;
}


// BOOTSTRAP OVERRIDES
.card {
  // height: $card-height;
  .card-img-top {
    background-color: $gray;
    height: $card-image-height;
  }
}

.btn-xs {
  font-size: .4em;
  padding: 1px 4px;
}

// markdown
code {
  color: $inline-code;
  background-color: lighten($inline-code, 35%);
  padding: 2px 5px;
  border-radius: 5px;
}

pre {
  padding: 10px 15px;
  background-color: lighten($light-gray, 2%);
}
