@import 'variables';

// Display
.inline {display: inline;}

// Margin
.mt-1 { margin-top: .25rem; }
.mb-1 { margin-bottom: .25rem; }
.mt-2 { margin-top: .5rem; }
.mb-2 { margin-bottom: .5rem; }
.mt-3 { margin-top: .75rem; }
.mb-3 { margin-bottom: .75rem; }
.mt-5 { margin-top: 1.25rem; }
.mb-5 { margin-bottom: 1.25rem; }