:root {
  /* Dimensions */
  --card-image-height: 100px;
  --card-height: calc(var(--card-image-height) * 4);
  --table-thumbnail: 40px;
  --mobile-landscape-breakpoint: 850px;

  /* Colors: Brand Assignments */
  --brand-dark-blue: #2b5f6e;
  --brand-light-blue: #369eba;
  --brand-purple: #7a3c50;
  --brand-brown: #3b3711;
  --brand-yellow: #bab13f;
  --brand-main: var(--brand-dark-blue);
  --brand-secondary: var(--brand-light-blue);

  /* Post Types */
  --gratitude: #46185f;
  --til: #fc0;
  --praise: #f65c78;
  --merit: #297ca0;

  /* Colors: Other */
  --white: #fff;
  --default-text: var(--brand-dark-blue);
  --light-gray: #f1f1f1;
  --gray: #808080;
  --medium-gray: #ccc;
  --link-color: var(--brand-light-blue);
  /* --error: ff0000; */

  /* Syntax Highlighting */
  --jekyll: #eef;
  --coderay: #ececec;
  --github: #f6f8fa;
  --inline-code: var(--github);
  --code-block: var(--github);
}
