<%= form_tag(word_cloud_path, method: 'get', id: 'filter-form' ) do %>
  <div class='row'>
    <div class='col-8'>
      <%= select_tag :given_year,
        options_for_select(Report.available_years, params[:given_year]),
        include_blank: 'All Time',
        class: 'form-control'
      %>
    </div>

    <div class='col-4'>
      <button type='submit' class='btn btn-success'>Submit</button>
      <%= link_to 'Reset', word_cloud_path, class: 'btn btn-outline-secondary ml-3' %>
    </div>
  </div> <!-- row -->
<% end %>
<hr>
